.role {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: white;
  /* margin: 5px; */
  /* margin-right: 0px; */
  /* padding: 5px; */
  height: 230px;
  padding: 13px;
  border-radius: 16px;
  border: 2px solid blue;
}
.role * {
  line-height: 6pt;
  font-size: 6pt !important;
}
.role.connected {
  border-color: hsl(125, 100%, 50%);
}
.role.disconnected {
  border-color: hsl(0, 100%, 50%);
}
.role.finished {
  border-color: blue;
}

.prev_and_roles {
  flex: 1;
  margin-bottom: 3px;
}

.prev_and_role {
  display: flex;
}
.prev_and_role * {
  flex: 1;
}

.instruction {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.instruction_text {
  line-height: 7pt;
}

.role .margin {
  margin-left: 5px;
  margin-right: -5px;
}

.role .marginBottom {
  margin-bottom: 5px;
}

.role label {
  color: var(--dark);
}

.italic {
  font-style: italic;
}

.row {
  display: flex;
}

.row > span {
  flex: 1;
}
.row > label {
  flex: 0.4;
}

/* .role:first-child {
  margin-left: 0px;
}
 */
.role button {
  padding: 2px;
  line-height: 6pt !important;
}
.role button:not(:first-child) {
  margin-left: 5px;
}

.flex {
  display: flex;
}

.flex > * {
  flex: 1;
}
.role_buttons {
  margin-top: 15px;
}

.margin {
  margin-bottom: 5px;
}

.wait {
  color: grey;
}
