body {
  padding: 0px;
  margin: 0px;
}

.room {
  width: 100%;
  background: lightgrey;
  display: inline-block;
}

.roles {
  display: flex;
}

.role {
  display: block;
  flex: 1;
  background: white;
  margin: 5px;
  margin-right: 0px;
  padding: 5px;
}

.role:last-child {
  margin-right: 5px;
}