@font-face {
    font-family: 'serif';
    src: url('acaslon.otf') format('opentype')
}

@font-face {
    font-family: 'serif_italic';
    src: url('acaslon_italic.otf') format('opentype')
}

:root {
    --bg-color: #f8eeda;
    --txt-color: #0a4297;
    --b-radius: 5vh;
    --black: #212124;
    --ratio: 0.5588507940957915
}

body {
    background: #fffefc;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: serif;
    /* font-style: italic; */
    /* background: linear-gradient(185deg, var(--bg-color)  25%, var(--txt-color) 100%); */
}

* {
    box-sizing: border-box;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#root {
    position: fixed;
}

.background {
    width: 100vw;
    height: 100vh;
}

.background>div {
    /* background: url(./clouds.jpg); */
    background-size: cover;
    position: absolute;
    top: -50px;
    left: -50px;
    filter: blur(50px);
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    opacity: 0.5;
}

/* img{
    width:100vw;
    height:100vh;
    position:absolute;
    top:0px;
    left:0px;
    filter: invert(1);
    z-index:0;
} */

.scriptCards {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    perspective: 800px;
    perspective-origin: center;
}

.instruction>.border {
    border-radius: var(--b-radius);
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
}

.swipe {
    width: 100%;
    height: 100%;
}

.swipe.flip .instruction {
    transform: rotateY(-180deg) translateY(-50%) translateX(50%);
}

.instruction {
    position: absolute;
    width: calc(95vh * 0.5588507940957915);
    height: 95vh;
    top: 50%;
    left: 50%;
    transform: rotateY(0deg) translateX(-50%) translateY(-50%);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transition-timing-function: ease-in-out;
    overflow-wrap: break-word;
    background-size: cover;
    color: var(--bg-color);
}

.do .text {
    font-family: serif_italic;
}

.do svg {
    fill: #ff5242;
}

.say svg {
    fill: #0000bf;
}

.think .text {
    color: var(--bg-color);
}

.think svg {
    fill: var(--black);
}

.back .text {
    color: var(--bg-color);
}

.back svg {
    fill: var(--black);
}

.idle .text {
    color:
}

.idle svg {
    fill: #ffc200;
}

.instruction>div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 1s;
    /* background: url(clouds.jpg); */
    background: var(--bg-color);
    background-size: cover;
    border-radius: var(--b-radius);
    overflow: hidden;
    box-shadow: 0px 0px 10px #0000001c;
}

.instruction .front {
    transform: translate3d(0, 0, 0);
}

.instruction .back {
    transform: rotateY(-180deg);
}

.instruction .type {
    font-size: 4.5vh;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 7.5vh;
    font-family: serif_italic;
    color: var(--bg-color);
    opacity: 0.7;
}

.instruction * {
    pointer-events: none;
    user-select: none;
}

.instruction .text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 75%;
    max-height: 75%;
    margin-top: 2.25vh;
    z-index: 1;
    font-family: serif;
    font-size: 5vh;
    line-height: 4.75vh;
    letter-spacing: -0.025em;
    text-align: center;
}

.hide {
    display: none;
}

.log {
    background: #e7ecf2;
    height: 30px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 3.5vh;
    z-index: 100;
    line-height: 30px;
    color: black;
    font-family: arial;
    font-style: normal;
}

.center-bottom {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.instruction canvas {
    width: calc(100% - 5vh);
    height: calc(100% - 5vh);
}

.next {
    position: absolute;
    bottom: 1.25vh;
    padding: 5pt;
    padding-left: 20pt;
    padding-right: 20pt;
    font-size: 40pt;
    line-height: 40pt;
    left: 50vw;
    transform: translateX(-50%);
    text-align: 18pt;
    background: lightgrey;
    border: 0px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
}

.next:hover {
    color: black;
}

.the-end {
    font-size: 20vw;
}

#paper-canvas {
    height: 90vh;
    width: calc(100vw - 10vh);
    position: absolute;
    top: 2.5vh;
    left: 2.5vh;
}

.swipe {
    position: absolute;
}

.Cards {
    position: absolute;
    z-index: 2;
    height: 95vh;
    margin: 2.5vh;
    width: calc(100vw - 5vh);
}

.fill {
    width: 100%;
    height: 100%;
}

/* width = 95vh * 0.5588507940957915 + 5vh */

@media only screen and (max-width:60.0908254391vh) {
    .instruction {
        height: calc((100vw - 5vh) / 0.5588507940957915);
        width: calc(100vw - 5vh)
    }
}