:root {
    --bg-color: #aee9b1;
    --txt-color: #0a4297;
    --b-radius: 7.5vh;
    --border: 1px solid lightgrey;
    --r-height: 35px;
    --dark: #e3e3e3;
    --medium: #f2f2f2;
    --light: #fafafa;
    --dark-shadow: 0px 0px 25px #99999944;
    --light-shadow: 0px 0px 50px #ffffff4f;
}

body{
    background: white;
    padding:0px;
    margin:0px;
    overflow:hidden;
    font-family: arial;
    transform:translate3d(0,0,0);
}

*{
    font-family:arial;
    /* font-style:italic; */
}
#root{
    position:fixed;
}
.cards{
    position:absolute;
    z-index:1;
    width:100%;
    height:100%;
}
.background{
    width:100vw;
    height:100vh;
}
.background > div{
    background: url(./clouds_blur.png);
    background-size: cover;
    position:absolute;
    top:-50px;
    left:-50px;
    width:calc(100% + 100px);
    height:calc(100% + 100px);
    opacity: 0.5;
    filter: contrast(0.7) brightness(1.05);
}
.App{
    position: absolute;
    width:100vw;
    height:100vh;
    overflow:hidden;
    z-index:1;
    cursor: move;
}

.block{
    display:block;
}

.relative-center{
    margin-left:50%;
    transform: translateX(-50%);
    /* text-align:center; */
}


.scriptButton{
    height:5vh;
    line-height:5vh;
    border-radius:2.5vh;
    margin-top:2.5vh;
    background:white;
    /* border:var(--border); */
    padding-left:1.25vh !important;
    padding-right:1.25vh !important;
    font-size: 5vh;
}
.absolute{
    position: absolute;
}

.node{
    padding: 25px;
    background: #ffffff42;
    cursor: grab;
    border-radius: 45px;
    box-shadow: var(--light-shadow);
}
.node.connecting > div{
    pointer-events: none;
}
.node > div{
    border-radius: 17px;
    overflow: hidden;
}
.dragging{
    cursor:grabbing !important;
}
.Map{

}

*{
    user-select: none;
}




header{
    top:0px;
    z-index: 99;
    box-shadow: var(--light-shadow);
}

.fixed{
    position: fixed;
    z-index: 1;
    width:100vw;
}
.node{
    width:800px;
}

.border{
    /* border: var(--border); */
}

.row:last-child{
    /* border-bottom: 0px !important; */
}
.row{
    flex-direction: row;
    font-size: 18pt;
    font-size: 18pt;
    line-height:var(--r-height);
    height:var(--r-height);
    margin: auto;
    overflow: hidden;
    /* border-bottom: var(--border); */
    background: #e3e3e3;
    
    cursor: default;
}
.row div, .row input, .row select{
    font-size: 10pt;
    line-height:var(--r-height);
    padding-left:10px;
}
.instruction > *:not(.instruction-text){
    color:darkgrey;
}
.instruction-text{
    font-size: 12pt;
    padding-left:20px;
}

.row > *:not(:first-child){
    /* border-left:var(--border) */
}

*{
    box-sizing:content-box;
}

.center, .text_center{
    text-align:center;
}
button{
    outline:none;
    border:none;
    cursor:pointer;
    padding: 0px;
    color:inherit;
}
button:hover{
    background:black !important;
    color:white !important;
}
.flex{
    display:flex;
    flex-direction:row;
}

.flex > *:not(.flexing){
    flex: 0 0 80px;
}
.flex > .flexing{
    flex:1;
    min-width:0;
}

.flex:not(header) > .tiny{
    font-size:8pt;
}

.flex > .tiny{
    flex: 0 0 40px;
    padding-left:0px;
    text-align:center;
}

select, input, button{
    outline:none;
    border:none;
    background:inherit;
}

.type_b{
    background:var(--light);
}
.type_a{
    background: var(--medium);
}

::placeholder{
    color:lightgrey;
}
.instructions{
    /* border-top: var(--border);
    border-bottom: var(--border); */
    min-height: var(--r-height);
    background: var(--light);
}
.connections button{
    color:white;
}

.overlay button{
    border-radius:20px;
    background:white;
    text-align:center;
    /* flex: 0 0; */
    padding-right:25px;
    padding-left: 25px;
    line-height: var(--r-height);
    cursor:pointer;
}


.connection{
    /* border:var(--border); */
    border-radius:20px;
    background:white;
    text-align:center;
    /* flex: 0 0; */
    padding-right:25px;
    padding-left: 25px;
    line-height: var(--r-height);
    cursor:pointer;
}

.connection-container{
    text-align: center;
}

.overlay-container{
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
}

.overlay{
    position: fixed;
    z-index: 2;
    background: var(--medium);
    padding-left: 2.5px;
    padding-right: 2.5px;
    transform:translate(-50%, -50%);
    min-width:150px;
    line-height:var(--r-height);
    border-radius:calc(var(--r-height)/2);
    box-shadow: var(--dark-shadow);
    padding: 12.5px;
    /* display: none; */
}
.overlay header{
    font-size: 12pt;
}

.overlay.visible{
    display:inline-block;
}
.line{position: absolute;z-index:10;pointer-events:none;}


line, path{
    stroke: white;
    stroke-width:1;
    fill:none;
}
.connectionLine{
    /* background:yellow; */
    position: absolute;
    pointer-events: none;
    z-index: 10;
}

.map{
    position:absolute;
    height:100vh;
    width:100vw;
    overflow:hidden;
}

.map.connecting .node > *{
    pointer-events: none;
}