.app {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  cursor: move;
}

.viewport {
  /* display: flex; */
  width: 100%;
  height: 100%;
}

.menu_button.selected {
  transform: rotateZ(45deg);
}
.menu_button {
  font-size: 15pt;
  line-height: 15px;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 10;
  background: white;
  padding: 12px;
  border-radius: 30px;
  box-shadow: var(--dark-shadow);
  width: 15px;
  height: 15px;
  transition: transform 0.5s;
  box-sizing: content-box;
}

/* .viewport .panel {
    flex: 1;
    position: relative;
} */

.selection_box {
  position: absolute;
  border: 2px dashed white;
  pointer-events: none;
  z-index: 2;
  background: #836dc841;
}

.visited_group_ids {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 5;
}

line,
path {
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 5 3;
}
