line,
path {
  stroke-width: 1;
  fill: none;
  stroke-dasharray: 5 3;
  stroke-linecap: butt;
  animation: dash 3s linear infinite;
}

.connectionLine {
  position: absolute;
  pointer-events: none;
  z-index: 50;
}
