.drag_box {
  display: block;
  cursor: grab;
  position: absolute;
  box-sizing: border-box;
  box-shadow: var(--dark-shadow);
  border-radius: 25px;
  background: var(--light-grey);
  width: 900px;
  transform: translate(0px, 0px);
}

/* .selected .drag_box *, */
.isConnecting .drag_box *,
.isTranslating .drag_box * {
  pointer-events: none !important;
}
.drag_box.selected {
  z-index: 50 !important;
}

.drag_box.isErrored .drag_box-drag {
  background: hsl(0, 100%, 92%) !important;
}
.drag_box-children {
  margin: 11px;
  position: relative;
  z-index: 1;
  pointer-events: none;
}
.drag_box-children > * {
  pointer-events: all;
}
.drag_box-drag {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;

  /* border-radius: 25px; */
  transition: background 0.125s;
  box-sizing: content-box;
}
.selected .drag_box-drag,
.drag_box-drag:hover {
  border-radius: 28px;
  border: 4px solid var(--selected-color);
  margin: -4px;
}

.zoomedOut .drag_box > div {
  pointer-events: none !important;
}

.drag_box-children {
  border-radius: 16px;
  overflow: hidden;
}
