.menu > * {
  height: 100vh;
  transition: left 0.5s;
  background: var(--medium);
  flex-direction: column;
  box-shadow: var(--dark-shadow);
  display: flex;
}

.menu * {
  align-items: end;
}

.menu {
  font-size: 10pt;
}

.menu header {
  padding-left: 15px;
  background: white;
  padding-top: 70px;
  padding-bottom: 15px;
  padding-right: 15px;
  width: 100%;
}

.menu header .bubble {
  background: var(--medium);
  line-height: 25pt;
}

.menu header textarea {
  resize: none;
  font-size: 8pt;
  outline: none;
  border: none;
}

.menu * {
  color: var(--dark);
}

.menu h1,
.menu h2 {
  /* position: absolute; */
  /* display: flex; */

  font-weight: normal;
  line-height: normal;

  top: 0px;
  z-index: 99;
}
.menu-body {
  padding: 10px;
  padding-top: 15px;
  padding-left: 15px;
  gap: 10px;
  row-gap: 10px;
  column-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  overflow: auto;
  width: 100%;
}

.menu .menu-body .bubble:not(.role) {
  background: white;
  color: var(--dark);
  border-radius: 30px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  flex-wrap: wrap;
  overflow: auto;
}
/* .menu .bubble:not(:last-child) {
    margin-right: 10px;
  } */

/* .role-amount {
    width: 100%;
    display: flex;
  }
   */
.role-amount label {
  flex: 1;
}

.role-amount input {
  width: 50px;

  vertical-align: baseline;
}

/* .menu header h1 {
    font-size: 10pt;
    padding-left: 10pt;
    font-weight: normal;
    line-height: normal;
  } */

.menu input {
  background: white;
  line-height: var(--r-height);
  border-radius: 30px;
}

.menu .flex {
  gap: 7px;
}

.main_menu {
  width: 150px;
  position: fixed;
  left: -170px;
  z-index: 5;
}

.main_menu.open {
  left: 0px;
}

.sub_menu header {
  padding-top: 25px;
}

.sub_menu {
  position: fixed;
  top: 0px;
  z-index: 1;
}
.sub_menu.open {
  left: 150px;
}

.role_menu {
  width: 500px;
  left: -520px;
}
.monitor_menu {
  width: 750px;
  left: -770px;
}
.monitor_menu > iframe {
  width: 100%;
  height: 100%;
  border: none;
}
