.overlay {
  font-size: 10pt;
  line-height: 12pt;
}
.overlay > span {
  margin: 5px;
  /* background: hsl(var(--hue), 100%, 65%); */
}

.overlay-container {
  position: fixed;
  z-index: 60;
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: fixed;
  background: var(--medium);
  transform: translate(-50%, -50%);
  min-width: 150px;
  border-radius: var(--border-radius);
  box-shadow: var(--dark-shadow);
  overflow: hidden;
  width: 500px;
  left: 50%;
  top: 50%;
  /* display: none; */
}
.overlay-body {
  padding: 15px;
  text-align: center;
  padding-bottom: 18px;
  display: flex;
  gap: 5px;
  width: 100%;
  flex-wrap: wrap;
  /*   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  column-gap: 5px;
  row-gap: 5px;
  font-size: 8pt;
}

.overlay header {
  display: block;
  line-height: 12pt;
  text-align: center;
  padding: 15px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: white;
  color: var(--dark);
  padding-top: 18px;
}

.overlay.visible {
  display: inline-block;
}

.overlay .role_id {
  /* font-size: 10pt; */
  color: white;
  position: relative;
  padding-right: 25px;
  padding-left: 25px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  /* white-space: nowrap; */
}

.overlay .selected_nodes {
  text-decoration: underline;
  text-decoration-color: var(--selected-color);
  text-decoration-thickness: 4px;
  /* background: var(--selected-color); */
}
