.roles-container {
  text-align: center;
}

.add_role {
  color: white;
  pointer-events: all;
  background: transparent !important;
  width: 80px;
}
.roles {
  pointer-events: none;
  background: var(--dark-grey);
}
.roles .bubble,
.roles button {
  pointer-events: all;
}
.roles .row {
  line-height: calc(var(--r-height) * 3 / 4) !important;
  min-height: calc(var(--r-height) * 3 / 4) !important;
}
