.bubble {
  padding-top: 2px;
  padding-bottom: 1px;
  border-radius: 50px;
  color: white;
  display: inline-block;
  text-align: center;
  justify-content: center;
  outline: none;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 10pt;
}

.bubble.role {
  font-size: 7pt;
  line-height: 8pt;
}
.bubble-container {
  text-align: center;
  align-self: center;
}
