.qr {
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  /* width: 128px; */
  z-index: 3;
  background: white;
  /* border: 1px solid black; */
  border-radius: var(--border-radius);
  box-shadow: var(--dark-shadow);
  overflow: hidden;
  padding: 5px;
}

.close {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}
