.role {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: white;
  height: 230px;
  border-radius: 16px;

  border: 1px solid black;
  overflow: hidden;
}

.role.connected {
  border-color: var(--green);
}
.role.disconnected {
  border-color: var(--red);
}
.role.default {
  border-color: var(--blue);
}

.prev_and_roles {
  flex: 1;
  margin-bottom: 3px;
}

.prev_and_role {
  display: flex;
}
.prev_and_role * {
  flex: 1;
}

.instruction {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.instruction_text {
  line-height: 7pt;
}

.role .margin {
  margin-left: 5px;
  margin-right: -5px;
}

.role .marginBottom {
  margin-bottom: 5px;
}

.role label {
  color: var(--dark);
}

.italic {
  font-style: italic;
}

.row {
  display: flex;
}

.row > span {
  flex: 1;
}
.row > label {
  flex: 0.4;
}

.advanced * {
  font-size: 8pt !important;
}

/* .role button {
  padding: 2px;
  line-height: 6pt !important;
}
 */
.role button:not(:first-child) {
  margin-left: 5px;
}

.flex {
  display: flex;
}

.flex > * {
  flex: 1;
}
.role_buttons {
  margin-top: 15px;
}

.margin {
  margin-bottom: 5px;
}

.wait {
  color: grey;
}

.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.panel:not(.progress) {
  z-index: 1;
  padding: 12.5px;
}

.progress {
  z-index: 0;
  background: var(--darker-grey);
  pointer-events: none;
}

.top {
  flex: 1;
}

.name {
  background: var(--medium);
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 50px;
  min-width: 16pt;
  font-size: 12pt;
  line-height: 16pt;
  display: inline-block;
  text-align: center;
}

.status {
  float: right;
  height: 16pt;
  width: 16pt;
  display: inline-block;
  font-size: 10pt !important;
  border-radius: 16pt;
}

.status.connected {
  background-color: var(--green);
}
.status.disconnected {
  background-color: var(--red);
}
.status.default {
  background-color: var(--blue);
}

.middle {
  position: absolute;
  height: calc(100% - 25px);
  width: calc(100% - 25px);
  pointer-events: none;
}

.middle > span {
  font-size: 10pt;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  transform: translate(-50%, -50%);
  background: var(--medium);
  border-radius: 25px;

  white-space: nowrap;
}
