

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background:#c6c6c6 !important;
  color:white;
}

.App-link {
  color: #61dafb;
}

.App-footer{
  width: 100%;
  position: sticky;
  height:50px;
  top: calc(100vh - 50px);
  background:grey;
}
.App-footer button{
  height: 100%;
  border:none;
  background:transparent;
  font-size:18pt;
  line-height:100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
