:root {
  --bg-color: #aee9b1;
  --txt-color: #0a4297;
  --b-radius: 7.5vh;
  --border-radius: 30px;
  --border: 1px solid lightgrey;
  --r-height: 35px;
  --dark: #515050;
  --medium: rgb(245, 241, 247);
  --light: #fafafa;
  --dark-shadow: 0px 0px 50px #dac2e7;
  --light-shadow: 0px 0px 50px #ffffff4f;
  --dark-grey: rgb(240, 230, 245);
  --light-grey: rgb(250, 250, 250);
  --border-color: rgb(245, 245, 245);
  --role_admin: #bdc4df;
  --selected-color: yellow;
}

::placeholder {
  color: lightgrey !important;
}

*::-webkit-scrollbar {
  width: 5px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--dark) var(--light-grey);
}

*::-webkit-scrollbar-track {
  background: var(dark);
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  /* border-radius: 6px; */
  border: 3px solid white;
}

@font-face {
  font-family: "sans";
  src: url("./arial_rounded2.ttf") format("truetype");
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  background: white;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  color: var(--dark);
}

* {
  font-family: arial;
  /* font-style:italic; */
}

h1 {
  font-size: 10pt;
  padding-left: 10pt;
  font-weight: normal;
  line-height: normal;
  margin-top: 0px;
}

#root {
  position: fixed;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.cards {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.background {
  width: 100vw;
  height: 100vh;
}

.background > div {
  width: 100%;
  height: 100%;
  background: grey;
}

.relative-center {
  margin-left: 50%;
  transform: translateX(-50%);
  /* text-align:center; */
}

.scriptButton {
  height: 5vh;
  line-height: 5vh;
  border-radius: 2.5vh;
  margin-top: 2.5vh;
  background: white;
  /* border:var(--border); */
  padding-left: 1.25vh !important;
  padding-right: 1.25vh !important;
  font-size: 5vh;
}

.absolute {
  position: absolute;
}

.dragging {
  cursor: grabbing !important;
}

*:not(input) {
  user-select: none;
}

.fixed {
  position: fixed;
  z-index: 1;
  width: 100vw;
}

.node_container {
  margin-left: -400px;
  width: 0px;
  height: 0px;
}

.border {
  /* border: var(--border); */
}

.row:last-child {
  /* border-bottom: 0px !important; */
}

/* img {
  height: 150px;
} */

.row {
  flex-direction: row;
  font-size: 10pt;
  line-height: var(--r-height);
  min-height: var(--r-height);
  margin: auto;
  overflow: hidden;
  cursor: default;
  width: 100%;
}

.row > div,
.row > input,
.row > select,
.row > span,
.row > textarea {
  font-size: 10pt;
  /* line-height: var(--r-height); */

  /* padding-left: 10px; */
}
.row > textarea {
  line-height: 12pt;
  padding-left: 0px;
  padding-bottom: 5pt;
  margin-left: 15pt;
  margin-top: 12pt;
  resize: none;
  background: transparent;
  border: none;
  outline: none;
  /* background:white; */
}

.gray {
  color: gray !important;
}

* {
  box-sizing: border-box;
}

.center,
.text_center {
  text-align: center;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  color: inherit;
}

button:hover,
button.focus,
button.selected {
  background: var(--dark) !important;
  color: white !important;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex > * {
  align-self: stretch;
}

.row.flex > *:not(.flexing) {
  flex: 0 0 auto;
  /* width: 80px; */
}

.flex > *:not(.flexing) {
  flex: 0 0 auto;
  /* width: 80px; */
}

.flex > .flexing {
  flex: 1;
}

/* .flex:not(header) > .tiny {
  font-size: 8pt;
  color: #e0e0e0;
} */

.flex > .tiny {
  flex: 0 0 40px !important;
  /* padding-left: 0px; */
  /* text-align: center; */
}

select,
input,
button {
  outline: none;
  border: none !important;
  background: inherit;
  vertical-align: middle;
}

/*  */

i {
  /* border: none !important; */
  /* background: red */
  /* border-color: transparent transparent rgba(0, 0, 0, 1) !important */
}

::placeholder {
  color: lightgrey;
}

.center {
  left: 50vw !important;
  top: 50vh !important;
}

.group_container {
  display: flex;
  margin-top: 10px;
}

.group header {
  font-size: 8pt !important;
  margin-left: 5px;
  margin-right: 5px;
}

.group {
  display: flex;
}

.group div {
  display: flex;
  flex-direction: column;
}

.group:not(:first-child) {
  margin-left: 12.5px;
}

.group {
  text-align: left;
}

.group button:not(:last-child) {
  margin-bottom: 10px;
}

.line {
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

@keyframes dash {
  from {
    stroke-dashoffset: 8;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.progressBars {
  position: absolute;
  z-index: 10;
  bottom: 0px;
  width: 100%;
  background: #e3e3e3;
  line-height: 24pt;
  height: 24pt;
  white-space: nowrap;
}

.progressBar {
  /* border-top: 1px solid white; */
  display: inline-block;
  background: white;
  border-radius: 15px;
  height: 16pt;
  line-height: 16pt;
  font-size: 8pt;
  position: relative;
  margin: 4px;
  margin-right: 0px;
  overflow: hidden;
}

.progressBar .progress {
  background: #313131;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 0%;
  transition: width 0.5s;
}

.progressBar .text {
  position: relative;
  z-index: 1;
  color: #a1a1a1;
  margin-top: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.react-numeric-input > input {
  line-height: inherit !important;
  width: inherit;
  user-select: none;
}

.selectionBox {
  position: absolute;
  border: 2px dashed white;
  background: #ffffff41;
}

/* 
.zoom {
    height: 100vh;
    width: 100vw;
} */
